.Sproject {
  margin-left: 120px;
}
.Bproject {
  margin-left: 120px;
}

#project hr {
  width: 200px;
  margin: 10px auto;
  color: rgb(62 177 197);
}

#project h4 {
  font-weight: bold;
  color: rgb(62 177 197);
  font-family: cursive;
}
.project-sub-header {
  margin: 18px;
  font-size: 20px;
  font-family: cursive;
}
#ads {
  margin: 30px 87px 30px 0px;
}
#ads .card-notify-badge {
  position: absolute;
  left: -10px;
  top: -20px;
  background-color: #f29f6f;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  font-size: 14px;
  padding: 5px 10px;
  color: black;
}

#project .card img {
  height: 200px;
  width: 100%;
}
.card-detail-badge {
  background-color: #e0b50f;
  color: black;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  padding: 5px 10px;
  font-size: 14px;
}

.card-image-overly span {
  display: inline-block;
  margin-left: 5px;
}
.ad-btn {
  font-weight: 500;
  width: 150px;
  height: 40px;
  display: block;
  text-align: center;
  background-color: rgb(62 177 197);
  color: white;
  border-radius: 80px;
  font-size: 16px;
  line-height: 35px;
  text-decoration: none;
  margin: 20px auto 20px auto;
}

.cred-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
}
.cred-title{
    font-weight: bold;
    font-size: 18px;
}
.cred-head{

font-size:16px;
}
.cred-content{
    margin-left:10px;
    font-size: 17px;
    color: rgb(62 177 197);
    font-weight:500;
}

.git-btn {
  padding: 12px;
  width: 200px;
  height: 50px;
  border: none;
  margin: 5px;
  font-weight: 500;
  display: block;
  text-align: center;
  background-color: rgb(73 78 79);
  color: white;
  border-radius: 80px;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.github-codes{
    margin-top:15px;
}

.git-btn:hover {
  border: 2px solid rgb(73 78 79);
  color: rgb(73 78 79);
  background: white;
}
#project .card:hover {
  background-color: white;
  border-radius: 4px;
  box-shadow: 12px 20px 15px 0px rgba(46, 61, 73, 0.15);
  transition: all 1s ease;
}
.ad-btn:hover {
  background-color: white;
  color: rgb(62 177 197);
  background: transparent;
  border: 2px solid #138781;
  transition: all 0.5s ease;
  box-shadow: 12px 20px 15px 0px rgba(46, 61, 73, 0.15);
}
.card-detail-badge {
  margin: 5px;
}
@media (max-width: 800px) {
  .Sproject {
    max-width: 610px;
    margin-left: 200px;
    margin-top: 50px;
  }
  .Bproject {
    max-width: 700px;
    margin-left: 60px;
    margin-top: 50px;
  }
  #project .card img {
    height: 200px;
    width: 100%;
  }

  .project hr {
    width: 280px;
  }
  .project .card {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .Sproject {
    max-width: 610px;
    margin-left: 0px;
    margin-top: 50px;
  }
  .Bproject {
    max-width: 610px;
    margin-left: 0px;
    margin-top: 50px;
  }
  #ads {
    margin: 0px;
  }
  #project .card {
    background-color: white;
    border-radius: 4px;
    box-shadow: 12px 20px 15px 0px rgba(46, 61, 73, 0.15);
    transition: all 1s ease;
  }
}
